* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --main-color: #b114e0;
}
.navbar ul li a:hover {
    color: var(--main-color) !important;
}
.act {
    border-bottom: 2px solid var(--main-color);
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),    
    url(../img/about.webp);
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.col-img {
    background-image: url(../img/about.png.webp);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}
.how-we-work .col-img {
    background-image: url(../img/xwork.webp);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}
.testimonial-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/xbanner.webp);
    height: 90vh;
}
.testimony-author {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.testimony-author img {
    width: 75px !important;
    margin: auto;
}